/dts-v1/;

#include "ast2400.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Gigabyte RMC v2.1";
	compatible = "gb,rmc21", "aspeed,ast2400";

	ahb {
		mac0: ethernet@1e660000 {
			use-nc-si;
			no-hw-checksum;
		};

		mac1: ethernet@1e680000 {
			compatible = "faraday,ftgmac100", "aspeed,ast2400-mac";
			reg = <0x1e680000 0x180>;
			interrupts = <3>;
			no-hw-checksum;

			phy-handle = <&phy0>;
			phy-mode = "rgmii";

			phy0: phy@3 {
				compatible = "ethernet-phy-id0040.61e0",
					     "ethernet-phy-ieee802.3-c22";
				reg = <0x0>;
			};
		};

		fmc@1e620000 {
			reg = < 0x1e620000 0x94
				0x20000000 0x02000000 >;
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "aspeed,fmc";
			flash@0 {
				reg = < 0 >;
				compatible = "jedec,spi-nor" ;
				/*
				 * Possibly required props:
				 * spi-max-frequency = <>
				 * spi-tx-bus-width = <>
				 * spi-rx-bus-width  = <>
				 * m25p,fast-read
				 * spi-cpol if inverse clock polarity (CPOL)
				 * spi-cpha if shifted clock phase (CPHA)
				 */
#include "aspeed-rmc-16M-flash-layout.dtsi"
			};
		};
		spi@1e630000 {
			reg = < 0x1e630000 0x18
				0x30000000 0x02000000 >;
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "aspeed,smc";
			flash {
				reg = < 0 >;
				compatible = "jedec,spi-nor" ;
				label = "pnor";
				/* spi-max-frequency = <>; */
				/* m25p,fast-read; */
			};
		};

		apb {
			i2c: i2c@1e78a040 {
				i2c0: i2c-bus@40 {
					i2cmux@74 {
						compatible = "nxp,pca9548";
						#address-cells = <1>;
						#size-cells = <0>;
						reg = <0x74>;
						reset-gpios = <&gpio 0 GPIO_ACTIVE_LOW>;
					};
				};
				i2c2: i2c-bus@c0 {
					power@40 {
						compatible = "ti,ina219";
						reg = <0x40>;
					};
				};
				i2c3: i2c-bus@100 {
					tmp@48 {
						compatible = "national,lm75";
						reg = <0x48>;
					};
				};
				i2c6: i2c-bus@1c0 {
					gpio-expander@20 {
						compatible = "nxp,pca9555";
						gpio-controller;
						#gpio-cells = <2>;
						reg = <0x20>;
					};
				};
			};
		};
	};
};
