/dts-v1/;

#include "ast2400.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Gigabyte RMC v2.1";
	compatible = "gb,rmc21", "aspeed,ast2400";

	ahb {
		mac0: ethernet@1e660000 {
			/* use-nc-si; */
			no-hw-checksum;
		};

		fmc@1e620000 {
			reg = < 0x1e620000 0x94
				0x20000000 0x02000000 >;
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "aspeed,fmc";
			flash@0 {
				reg = < 0 >;
				compatible = "jedec,spi-nor" ;
				/*
				 * Possibly required props:
				 * spi-max-frequency = <>
				 * spi-tx-bus-width = <>
				 * spi-rx-bus-width  = <>
				 * m25p,fast-read
				 * spi-cpol if inverse clock polarity (CPOL)
				 * spi-cpha if shifted clock phase (CPHA)
				 */
#include "aspeed-rmc-16M-flash-layout.dtsi"
			};
		};
		spi@1e630000 {
			reg = < 0x1e630000 0x18
				0x30000000 0x02000000 >;
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "aspeed,smc";
			flash {
				reg = < 0 >;
				compatible = "jedec,spi-nor" ;
				label = "pnor";
				/* spi-max-frequency = <>; */
				/* m25p,fast-read; */
			};
		};

		apb {
			i2c: i2c@1e78a040 {
				i2c0: i2c-bus@40 {
					i2cmux@74 {
						compatible = "nxp,pca9548";
						#address-cells = <1>;
						#size-cells = <0>;
						reg = <0x74>;
						reset-gpios = <&gpio 0 GPIO_ACTIVE_LOW>;
					};
				};
				i2c3: i2c-bus@100 {
					tmp@48 {
						compatible = "national,lm75";
						reg = <0x48>;
					};
				};
			};
		};
	};
};
