/dts-v1/;

#include "ast2400.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Gigabyte MH-60";
	compatible = "gb,rmc21", "aspeed,ast2400";

	ahb {
/*
		mdio {
			#address-cells = <1>;
			#size-cells = <0>;
			device_type = "mdio";
			status = "okay";
			phy0: phy@0 {
				device_type = "ethernet-phy";
				compatible = "ethernet-phy-id001c.c915";
				reg = <0x0>;
			};
		};
*/
		mac0: ethernet@1e660000 {
			use-nc-si;
			no-hw-checksum;
		};

		mac1: ethernet@1e680000 {
			compatible = "faraday,ftgmac100", "aspeed,ast2400-mac";
			reg = <0x1e680000 0x180>;
			interrupts = <3>;
			phy-handle = <&phy0>;
			phy-mode = "gmii";
			no-hw-checksum;

			phy0: phy@0 {
				compatible = "ethernet-phy-id001c.c915",
					     "ethernet-phy-ieee802.3-c22";
				reg = <0x0>;
			};
		};

		fmc@1e620000 {
			reg = < 0x1e620000 0x94
				0x20000000 0x02000000 >;
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "aspeed,fmc";
			flash@0 {
				reg = < 0 >;
				compatible = "jedec,spi-nor" ;
				/*
				 * Possibly required props:
				 * spi-max-frequency = <>
				 * spi-tx-bus-width = <>
				 * spi-rx-bus-width  = <>
				 * m25p,fast-read
				 * spi-cpol if inverse clock polarity (CPOL)
				 * spi-cpha if shifted clock phase (CPHA)
				 */
			};
		};
		spi@1e630000 {
			reg = < 0x1e630000 0x18
				0x30000000 0x02000000 >;
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "aspeed,smc";
			flash {
				reg = < 0 >;
				compatible = "jedec,spi-nor" ;
				label = "pnor";
				/* spi-max-frequency = <>; */
				/* m25p,fast-read; */
			};
		};

		apb {
			i2c: i2c@1e78a040 {
				i2c0: i2c-bus@40 {
					tpsA@40 {
						compatible = "tps2480";
						reg = <0x40>;
						shunt = <5>;
					};
					tmpA@49 {
						compatible = "natinonal,lm75";
						reg = <0x49>;
					};
				};
			};
		};
	};
};
